{% extends "base.html" %}

{% block content %}

	<div class="cart_info">
		<div class="container">
			<div class="row">
				<div class="col">
					<!-- Column Titles -->
					<div class="cart_info_columns clearfix">
						<div class="cart_info_col cart_info_col_product">Товар</div>

						<div class="cart_info_col cart_info_col_total">Цена</div>
					</div>
				</div>
			</div>
			<div class="row cart_items_row">
				<div class="col">
					{% if news %}
						{% for item in news %}
							<!-- Cart Item -->
							<div class="cart_item d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-start">
								<!-- Name -->
								<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
									<div class="cart_item_image">
										<div><img src="{{ item.cover }}" alt=""></div>
									</div>
									<div class="cart_item_name_container">
										<div class="cart_item_name"><a href="#">{{ item.title }}</a></div>
										<div class="cart_item_edit"><a href="#">{{ item.content }}</a></div>
									</div>
								</div>

								<!-- Total -->
								<div class="cart_item_total">{{ item.price }}₽</div>
							</div>
						{% endfor %}
					{% else %}
						Корзина пуста
					{% endif %}
				</div>
			</div>
			<div class="row row_cart_buttons">
				<div class="col">
					<div class="cart_buttons d-flex flex-lg-row flex-column align-items-start justify-content-start">
						<div class="button continue_shopping_button"><a href="/shop">Продолжить покупки</a></div>
						<div class="cart_buttons_right ml-lg-auto">
							<div class="button clear_cart_button"><a href="/clear_cart">Очистить корзину</a></div>
						</div>
					</div>
				</div>
			</div>
			<div class="row row_extra">
				<div class="col-lg-4">

				</div>

				<div class="col-lg-6 offset-lg-2">
					<div class="cart_total">
						<div class="cart_total_container">
							<ul>

								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Сумма товаров:</div>
									<div class="cart_total_value ml-auto"> {{suma}}₽</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Доставка:</div>
									<div class="cart_total_value ml-auto"> Бесплатно</div>
								</li>
								<li class="d-flex flex-row align-items-center justify-content-start">
									<div class="cart_total_title">Итого:</div>
									<div class="cart_total_value ml-auto"> {{suma}}₽</div>
								</li>
							</ul>
						</div>
						<div class="button checkout_button"><a href="#">Оплатить</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>



<script src="../static/js/jquery-3.2.1.min.js"></script>
<script src="../static/styles/bootstrap4/popper.js"></script>
<script src="../static/styles/bootstrap4/bootstrap.min.js"></script>
<script src="../static/plugins/greensock/TweenMax.min.js"></script>
<script src="../static/plugins/greensock/TimelineMax.min.js"></script>
<script src="../static/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../static/plugins/greensock/animation.gsap.min.js"></script>
<script src="../static/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../static/plugins/easing/easing.js"></script>
<script src="../static/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../static/js/cart.js"></script>
{% endblock %}
