{% extends "base.html" %}

{% block content %}
 <style>


   .prof-container {
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    margin: 50px auto;
    width: 50%;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
   }

   .prof-container img {
    width: 30%;
    height: 30%;

   }

   h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
   }

   p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 10px;
   }

    .prof-container button{
        background-color: #000000;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
 </style>

 <div class="prof-container">
  <h1>Страница пользователя</h1>
  <img src="../static/img/ava.png" alt="ava">
  </br>
  <p>Имя: {{ user.name }}</p>
  <p>Почта: {{ user.email }}</p>
  <br>
  <a href="/logout">
   <button>Выйти из аккаунта</button>
  </a>


 </div>

{% endblock %}