{% extends "base.html" %}

{% block content %}
<!-- Start Content -->
<div class="container py-5">
        <div class="row">

            <div class="col-lg-3">
                <h1 class="h2 pb-4">Фильтр</h1>
                <ul class="list-unstyled templatemo-accordion">
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Тип устройства
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{hr}}type_iphone">Iphone</a></li>
                            <li><a class="text-decoration-none" href="{{hr}}type_macbook">Macbook</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Объём памяти
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseTwo" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{hr}}size_256">256GB</a></li>
                            <li><a class="text-decoration-none" href="{{hr}}size_512">512GB</a></li>
                            <li><a class="text-decoration-none" href="{{hr}}size_1024">1TB</a></li>
                        </ul>
                    </li>
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            Цвет
                            <i class="pull-right fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul id="collapseThree" class="collapse list-unstyled pl-3">
                            <li><a class="text-decoration-none" href="{{hr}}color_black">Черный</a></li>
                            <li><a class="text-decoration-none" href="{{hr}}color_white">Белый</a></li>
                            <li><a class="text-decoration-none" href="{{hr}}color_purple">Фиолетовый</a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-9">
                <div class="row">

                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            {% if is_admin %}
                                <a class="btn btn-success" href="/product">Добавить товар</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for item in news %}
                        <div class="col-md-4">
                            <div class="card mb-4 product-wap rounded-0">
                                <div class="card rounded-0">
                                    <a href="/shop_single/{{ item.id }}"><img class="card-img rounded-0 img-fluid" style="width: 600px; height: 450px" src="{{ item.cover }}"></a>
                                    {% if is_admin %}
                                        <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                            <ul class="list-unstyled">

                                                <li><a class="btn btn-success text-white" href="/delete_item/{{ item.id }}"><i class="fa fa-trash"></i></a></li>

                                                <li><a class="btn btn-success text-white mt-2" href="/shop_single/{{ item.id }}"><i class="far fa-eye"></i></a></li>
                                                <li><a class="btn btn-success text-white mt-2" href="/shop1/{{ item.id }}"><i class="fas fa-cart-plus"></i></a></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="card-body">
                                    <h3 href="shop-single.html" class="h3 text-decoration-none mb-0">{{ item.title }}</h3>
                                    <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                        <li>{{ item.content }}</li>
                                    </ul>
                                    <p class="text-center mb-0">{{ item.price }}₽</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>


{% endblock  %}
